/*
 * Estilo minimalista.
 */

html {
    font-family: "Roboto", Helvetica, Verdana, Arial, sans-serif;
    font-size: 62.5%;
    font-style: normal;
    background-color: #f2f2f2;
}

a,
a:visited {
    text-decoration: none;
    color:#999999;
}

.example {
    border-left-style: solid;
    border-left-width: 1.0em;
    border-color: darkgray;
}

.figure p img {
    width: 100%;
    height: auto;
}

#postamble
{
    margin: 0 auto;
    padding-left: 2.0em;
    width: 60%;
    font-size: 1.6rem;
}

#content {
    /* FONT-WEIGHT: 200; */
    /* max-width: 89em; */
    /* width: 89%; */
    /* padding-left: 2em; */
    margin: 0.5em;
    font-weight: 400;
    font-size: 1.6rem;
}

#content h1 {
    font-size: 2.5rem;
}

#content h2 {
    font-size: 2.0rem;
}

#content p {
    text-align: justify;
}

#text-table-of-contents ul {
    list-style: none;
    padding-left: 0.5em;
    font-size: 1.6rem;
}

#sidenav-checkbox,
.sidenav-toggle {
    display: none;
}

.sidenav {
    background-color: #1d1616;
    box-shadow: rgb(145 136 136 / 25%) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.sidenav a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #999999;

}
.sidenav ul li {
    padding: 15px 0px;
    margin: 1.0em;
}

.sidenav a:hover
{
    color: #ebe76e;
}

.cabecalho-barra
{
    color: #cc7b7b;
    font-size:2.0rem;
    text-align: center;
    padding: 0.9em;
}

.cabecalho-barra a {
    color: black;
    font-size: 2.4em;
}
.menu-principal {
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

.menu-principal li
{
    list-style: none;
    display: inline-block;
}

.rede-social
{
    display: block;
    text-align: center;
}

.rede-social li
{
    display: inline-block;
    font-size: 3rem;

}

ul.rede-social li a {
    font-size: 3rem;
    padding-right: 1em;
}

.validation {
    display: none;
}

pre,
pre.src {
    overflow: auto;
    font-size: 1.4rem;
}

.article-entry ul li {
    display: inline-block;
}
