/*
 * Estilo minimalista para site esquilo de pirai
 */

html {
    font-size: 62.5%;
}

a,
a:visited {
    text-decoration: none;
    color: blue;
}

.example {
    border-left-style: solid;
    border-left-width: 1.0em;
    border-color: darkgray;
}

.figure p img {
    width: 100%;
    height: auto;
}

#postamble
{
    margin: 0 auto;
    padding-left: 2.0em;
    width: 60%;
    font-size: 1.6rem;
}

#content {
    max-width: 89em;
    width: 60%;
    padding-left: 2.0em;
    margin: 0 auto;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 1.6rem;
}

#content h1 {
    font-size: 2.5rem;
}

#content h2 {
    font-size: 2.0rem;
}

#content p {
    text-align: justify;
}

#text-table-of-contents ul {
    list-style: none;
    padding-left: 0.5em;
    font-size: 1.6rem;
}

#sidenav-checkbox,
.sidenav-toggle {
    display: none;
}

.sidenav a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #818181;

}

.sidenav a:hover
{
    color: #3c3c3c;
}

.barra
{
    border-bottom-style: double;
    border-bottom-width: 3px;
    border-bottom-color: lightgray;
}

.cabecalho-barra
{
    color: #818181;
    font-size:2rem;
    text-align: center;
    padding: 0.9em;
}

.menu-principal {
    text-align: center;
}

.menu-principal li
{
    list-style: none;
    display: inline-block;
}

ul.menu-principal li a::before {
    content: '//';
}

.rede-social
{
    display: block;
    text-align: center;
}

.rede-social li
{
    display: inline-block;
    font-size: 3rem;

}

ul.rede-social li a {
    font-size: 3rem;
    padding-right: 1em;
}

.validation {
    display: none;
}

pre,
pre.src {
    overflow: auto;
    font-size: 1.4rem;
}

.article-entry ul li {
    display: inline-block;
}

@media screen and (max-width: 400px) {
    html {
	font-size: 8px;
    }

    #content {
	width: 100%;
	padding: 0;
    }

    #postamble
    {
	margin: 0 auto;
	padding-left: 0;
	width: 100%;
    }

    .sidenav-toggle {
	display: block;
	position: absolute;
	color: #3c3c3c;
	font-size: 2.8em;
	cursor: pointer;
	left: 1.5em;
	top: 0.8em;
    }

    .sidenav {
	display: none;
	border-bottom-style: double;
	border-bottom-width: 3px;
	border-bottom-color: lightgray;
    }

    #sidenav-checkbox:checked ~ .sidenav-toggle {
	transform: rotate(90deg);
    }

    #sidenav-checkbox:checked ~ .sidenav {
	display: block;
    }
}
